@import 'basic.css';

.title {
  color: var(--title);
  text-align: center;
}

.description {
  display: block;
  flex: 0 0 100%;
  margin-bottom: 1.5rem;
  color: var(--text);
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.leftColumn {
  flex: 1.5;
  @media (--large-viewport) {
    flex: 0 0 100%;
  }
}

.rightColumn {
  flex: 1;
  margin-top: 2rem;
  @media (--large-viewport) {
    flex: 0 0 100%;
  }
}

.gridColumn {
  flex: 1;
  @media (--medium-viewport) {
    flex: 0 0 100%;
  }
}

.flexColumn {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
}

.settingColumn {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding: 1.5rem;
  column-gap: 2rem;
  border: 0.1rem solid var(--title);
  color: var(--title);

  &::before {
    content: attr(title);
    position: absolute;
    top: -1.8rem;
    left: 1rem;
    padding: 0 1rem;
    background-color: var(--basic);
    font-size: 2rem;
  }

  .headerColumn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    column-gap: 2.5rem;
    .title {
      flex: 0 0 100%;
      text-align: left;
    }
    .details {
      flex: 1;
      @media (--medium-viewport) {
        flex: 0 0 100%;
      }
      .firstTitle {
        margin-left: 13rem;
        @media (--medium-viewport) {
          margin-left: 0;
        }
      }
    }
  }
}

.submitColumn {
  display: flex;
  flex: 0 0 100%;
  margin-top: 1rem;
  column-gap: 1.5rem;
}

.paperColumn {
  display: flex;
  justify-content: center;

  .paperBorder {
    overflow-x: auto;
    border: 0.1rem solid #000;
    background-color: #fff;

    .paper {
      .header {
        align-items: flex-end;

        .headerColumn {
          overflow: hidden;
          white-space: nowrap;

          span {
            display: inline-block;
          }
        }
      }

      .line {
        span {
          position: relative;

          &:after,
          &:first-child:before {
            content: '';
            position: absolute;
            right: var(--dotRightPosition);
            bottom: var(--dotBottomPosition);
            width: var(--dotWidth);
            height: var(--dotHeight);
            border-radius: var(--dotRadius);
            background-color: var(--color);
          }

          &:first-child:before {
            display: var(--firstDot);
            left: 0;
          }

          &:last-child:after {
            display: var(--lastDot);
            right: 0;
          }
        }
      }
    }
  }
}

.basicFrom {
  flex: 0 0 100%;
}

.n-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-checkbox .n-checkbox__label {
  color: var(--title);
  font-size: 1.7rem;
  font-weight: bold;
}

.details .n-checkbox .n-checkbox__label {
  font-size: 1.4rem;
}

.n-form-item .n-form-item-label,
.n-radio .n-radio__label {
  color: var(--text);
}

.n-form-item .n-form-item-feedback-wrapper {
  min-height: 1rem;
}

.n-form-item .n-form-item-blank {
  min-height: 0;
}

footer {
  color: hsl(0deg 0% 50%);
  font-size: 85%;
  text-align: center;
  a {
    color: var(--text);
  }
}
